wsdef/webservicedefs-client/src/main/wsdl/eCard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.bsi.bund.de/ecard/api/1.1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:iso="urn:iso:std:iso-iec:24727:tech:schema"
	xmlns:ec="http://www.bsi.bund.de/ecard/api/1.1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:dsse="urn:oasis:names:tc:dss-x:1.0:profiles:encryption:schema#">

	<!-- =================== -->
	<!-- Definition of types -->
	<!-- (only import XSDs)  -->
	<!-- =================== -->
    	

	<!-- =================== -->
	<!-- Definition of types -->
	<!-- (only include XSDs) -->
	<!-- =================== -->


	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.bsi.bund.de/ecard/api/1.1">
			<xsd:include schemaLocation="eCard.xsd" />
		</xsd:schema>
 		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		</xsd:schema>
		<xsd:schema xmlns:dsse="urn:oasis:names:tc:dss-x:1.0:profiles:encryption:schema#">
		   	<xsd:import namespace="urn:oasis:names:tc:dss-x:1.0:profiles:encryption:schema#"
        	       schemaLocation="oasis-dssx-1.0-profiles-encryption-0.5.xsd"/>
		</xsd:schema>
 	</wsdl:types>





	<!-- ====================== -->
	<!-- Definition of messages -->
	<!-- ====================== -->

	<!-- =============================== -->
	<!--        Identity Functions       -->
	<!-- =============================== -->
	<!--            Section 3.1          -->
	<!--             (messages)          -->
	<!-- =============================== -->

	<!-- 3.1.1	GetCertificate -->

	<wsdl:message name="GetCertificateRequest">
		<wsdl:part name="parameters" element="ec:GetCertificate" />
	</wsdl:message>
	<wsdl:message name="GetCertificateResponse">
		<wsdl:part name="parameters"
			element="ec:GetCertificateResponse" />
	</wsdl:message>


	<!-- =============================== -->
	<!--      Signature Functions        -->
	<!-- =============================== -->
	<!--            Section 3.2          -->
	<!--             (messages)          -->
	<!-- =============================== -->

	<!-- 3.2.1	SignRequest / SignResponse  -->

	<wsdl:message name="SignRequest">
		<wsdl:part name="parameters" element="ec:SignRequest" />
	</wsdl:message>
	<wsdl:message name="SignResponse">
		<wsdl:part name="parameters" element="ec:SignResponse" />
	</wsdl:message>

	<!-- 3.2.2  VerifyRequest / VerifyResponse -->

	<wsdl:message name="VerifyRequest">
		<wsdl:part name="parameters" element="ec:VerifyRequest" />
	</wsdl:message>
	<wsdl:message name="VerifyResponse">
		<wsdl:part name="parameters" element="ec:VerifyResponse" />
	</wsdl:message>

	<!-- 3.2.3	ShowViewer            -->

	<wsdl:message name="ShowViewerRequest">
		<wsdl:part name="parameters" element="ec:ShowViewer" />
	</wsdl:message>
	<wsdl:message name="ShowViewerResponse">
		<wsdl:part name="parameters" element="ec:ShowViewerResponse" />
	</wsdl:message>

	<!-- =============================== -->
	<!--      Encryption Functions       -->
	<!-- =============================== -->
	<!--            Section 3.3          -->
	<!--             (messages)          -->
	<!-- =============================== -->

	<!-- 3.3.1	EncryptRequest / EncryptResponse -->

	<wsdl:message name="EncryptRequest">
		<wsdl:part name="parameters" element="dsse:EncryptRequest" />
	</wsdl:message>
	<wsdl:message name="EncryptResponse">
		<wsdl:part name="parameters" element="dsse:EncryptResponse" />
	</wsdl:message>

	<!-- 3.3.2	DecryptRequest / DecryptResponse -->

	<wsdl:message name="DecryptRequest">
		<wsdl:part name="parameters" element="dsse:DecryptRequest" />
	</wsdl:message>
	<wsdl:message name="DecryptResponse">
		<wsdl:part name="parameters" element="dsse:DecryptResponse" />
	</wsdl:message>

	<!-- ====================== -->
	<!-- Definition of portType -->
	<!-- ====================== -->

	<wsdl:portType name="eCard">

		<!-- =============================== -->
		<!--        Identity Functions       -->
		<!-- =============================== -->
		<!--            Section 3.1          -->
		<!--             (portType)          -->
		<!-- =============================== -->

		<!-- 3.1.1	GetCertificate -->

		<wsdl:operation name="GetCertificate">
			<wsdl:input message="ec:GetCertificateRequest" />
			<wsdl:output message="ec:GetCertificateResponse" />
		</wsdl:operation>

		<!-- =============================== -->
		<!--      Signature Functions        -->
		<!-- =============================== -->
		<!--            Section 3.2          -->
		<!--             (portType)          -->
		<!-- =============================== -->

		<!-- 3.2.1	SignRequest / SignResponse  -->

		<wsdl:operation name="SignRequest">
			<wsdl:input message="ec:SignRequest" />
			<wsdl:output message="ec:SignResponse" />
		</wsdl:operation>

		<!-- 3.2.2  VerifyRequest / VerifyResponse -->

		<wsdl:operation name="VerifyRequest">
			<wsdl:input message="ec:VerifyRequest" />
			<wsdl:output message="ec:VerifyResponse" />
		</wsdl:operation>

		<!-- 3.2.3	ShowViewer            -->

		<wsdl:operation name="ShowViewer">
			<wsdl:input message="ec:ShowViewerRequest" />
			<wsdl:output message="ec:ShowViewerResponse" />
		</wsdl:operation>

		<!-- =============================== -->
		<!--      Encryption Functions       -->
		<!-- =============================== -->
		<!--            Section 3.3          -->
		<!--             (portType)          -->
		<!-- =============================== -->

		<!-- 3.3.1	EncryptRequest / EncryptResponse -->

		<wsdl:operation name="EncryptRequest">
			<wsdl:input message="ec:EncryptRequest" />
			<wsdl:output message="ec:EncryptResponse" />
		</wsdl:operation>

		<!-- 3.3.2	DecryptRequest / DecryptResponse -->

		<wsdl:operation name="DecryptRequest">
			<wsdl:input message="ec:DecryptRequest" />
			<wsdl:output message="ec:DecryptResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ===================== -->
	<!-- Definition of Binding -->
	<!-- ===================== -->


	<wsdl:binding name="eCard" type="ec:eCard">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />



		<!-- =============================== -->
		<!--        Identity Functions       -->
		<!-- =============================== -->
		<!--            Section 3.1          -->
		<!--             (binding)           -->
		<!-- =============================== -->

		<!-- 3.1.1	GetCertificate -->

		<wsdl:operation name="GetCertificate">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.1#GetCertificate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- =============================== -->
		<!--      Signature Functions        -->
		<!-- =============================== -->
		<!--            Section 3.2          -->
		<!--             (binding)           -->
		<!-- =============================== -->

		<!-- 3.2.1	SignRequest / SignResponse  -->

		<wsdl:operation name="SignRequest">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.1#SignRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- 3.2.2  VerifyRequest / VerifyResponse -->

		<wsdl:operation name="VerifyRequest">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.1#VerifyRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- 3.2.3  ShowViewer -->

		<wsdl:operation name="ShowViewer">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.1#ShowViewer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- =============================== -->
		<!--      Encryption Functions       -->
		<!-- =============================== -->
		<!--            Section 3.3          -->
		<!--             (portType)          -->
		<!-- =============================== -->

		<!-- 3.3.1	EncryptRequest / EncryptResponse -->

		<wsdl:operation name="EncryptRequest">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.1#EncryptRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- 3.3.2	DecryptRequest / DecryptResponse -->

		<wsdl:operation name="DecryptRequest">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.1#DecryptRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="eCard">
		<wsdl:port name="eCard" binding="ec:eCard">
			<soap:address
				location="http://www.bsi.bund.de/ecard/api/1.1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
