wsdef/webservicedefs-client/src/main/wsdl/ISO24727-Protocols.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:iso:std:iso-iec:24727:tech:schema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:iso="urn:iso:std:iso-iec:24727:tech:schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- =================== -->
	<!-- Definition of types -->
	<!-- (only include XSDs) -->
	<!-- =================== -->

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="urn:iso:std:iso-iec:24727:tech:schema">
			<xsd:include schemaLocation="ISO24727-Protocols.xsd" />
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		</xsd:schema>
	</wsdl:types>

	<!-- ====================== -->
	<!-- Definition of messages -->
	<!-- ====================== -->

	<!-- TC_API_Open -->
	<wsdl:message name="TC_API_Open">
		<wsdl:part name="parameters" element="iso:TC_API_Open" />
	</wsdl:message>
	<wsdl:message name="TC_API_OpenResponse">
		<wsdl:part name="parameters" element="iso:TC_API_OpenResponse" />
	</wsdl:message>
	
	<!-- TC_API_Close -->
	<wsdl:message name="TC_API_Close">
		<wsdl:part name="parameters" element="iso:TC_API_Close" />
	</wsdl:message>
	<wsdl:message name="TC_API_CloseResponse">
		<wsdl:part name="parameters" element="iso:TC_API_CloseResponse" />
	</wsdl:message>
	
	<!-- StartPAOS -->
	<wsdl:message name="StartPAOS">
		<wsdl:part name="parameters" element="iso:StartPAOS" />
	</wsdl:message>
	<wsdl:message name="StartPAOSResponse">
		<wsdl:part name="parameters" element="iso:StartPAOSResponse" />
	</wsdl:message>

	<!-- ====================== -->
	<!-- Definition of portType -->
	<!-- ====================== -->
	
	<wsdl:portType name="ISO24727-Protocols">

	<!-- TC_API_Open -->
	<wsdl:operation name="TC_API_Open">
		<wsdl:input message="iso:TC_API_Open" />
		<wsdl:output message="iso:TC_API_OpenResponse" />
	</wsdl:operation>
	
	<!-- TC_API_Close -->
	<wsdl:operation name="TC_API_Close">
		<wsdl:input message="iso:TC_API_Close" />
		<wsdl:output message="iso:TC_API_CloseResponse" />
	</wsdl:operation>
	
	<!-- StartPAOS -->
	<wsdl:operation name="StartPAOS">
		<wsdl:input message="iso:StartPAOS" />
		<wsdl:output message="iso:StartPAOSResponse" />
	</wsdl:operation>	
	
	</wsdl:portType>



	<!-- ===================== -->
	<!-- Definition of Binding -->
	<!-- ===================== -->

	<wsdl:binding name="ISO24727-Protocols" type="iso:ISO24727-Protocols">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

	<!-- TC_API_Open -->
	<wsdl:operation name="TC_API_Open">
		<soap:operation
			soapAction="urn:iso:std:iso-iec:24727:tech:schema:TC_API_Open" />
		<wsdl:input>
			<soap:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
	</wsdl:operation>

	<!-- TC_API_Close -->
	<wsdl:operation name="TC_API_Close">
		<soap:operation
			soapAction="urn:iso:std:iso-iec:24727:tech:schema:TC_API_Close" />
		<wsdl:input>
			<soap:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
	</wsdl:operation>

	<!-- StartPAOS -->
	<wsdl:operation name="StartPAOS">
		<soap:operation
			soapAction="urn:iso:std:iso-iec:24727:tech:schema:StartPAOS" />
		<wsdl:input>
			<soap:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
	</wsdl:operation>
	
	
	</wsdl:binding>


	<!-- Definition of ISO24727-Protocols-Service -->

	<wsdl:service name="ISO24727-Protocols">
		<wsdl:port name="ISO24727-ProtocolsPort" binding="iso:ISO24727-Protocols">
			<soap:address location="http://127.0.0.1:18080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
