wsdef/webservicedefs-client/src/main/wsdl/Support.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.bsi.bund.de/ecard/api/1.1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:iso="urn:iso:std:iso-iec:24727:tech:schema"
	xmlns:ec="http://www.bsi.bund.de/ecard/api/1.1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- =================== -->
	<!-- Definition of types -->
	<!-- (only include XSDs) -->
	<!-- =================== -->

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.bsi.bund.de/ecard/api/1.1">
			<xsd:include schemaLocation="Support.xsd" />
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		</xsd:schema>
	</wsdl:types>

	<!-- ====================== -->
	<!-- Definition of messages -->
	<!-- ====================== -->

	<wsdl:message name="EncodeRequest">
		<wsdl:part name="parameters" element="ec:Encode" />
	</wsdl:message>
	<wsdl:message name="EncodeResponse">
		<wsdl:part name="parameters" element="ec:EncodeResponse" />
	</wsdl:message>
	<wsdl:message name="DecodeRequest">
		<wsdl:part name="parameters" element="ec:Decode" />
	</wsdl:message>
	<wsdl:message name="DecodeResponse">
		<wsdl:part name="parameters" element="ec:DecodeResponse" />
	</wsdl:message>
	<wsdl:message name="ValidateXMLDocumentRequest">
		<wsdl:part name="parameters" element="ec:ValidateXMLDocument" />
	</wsdl:message>
	<wsdl:message name="ValidateXMLDocumentResponse">
		<wsdl:part name="parameters"
			element="ec:ValidateXMLDocumentResponse" />
	</wsdl:message>

	<!-- ====================== -->
	<!-- Definition of portType -->
	<!-- ====================== -->


	<wsdl:portType name="Support">
		<wsdl:operation name="Encode">
			<wsdl:input message="ec:EncodeRequest" />
			<wsdl:output message="ec:EncodeResponse" />
		</wsdl:operation>
		<wsdl:operation name="Decode">
			<wsdl:input message="ec:DecodeRequest" />
			<wsdl:output message="ec:DecodeResponse" />
		</wsdl:operation>
		<wsdl:operation name="ValidateXMLDocument">
			<wsdl:input message="ec:ValidateXMLDocumentRequest" />
			<wsdl:output message="ec:ValidateXMLDocumentResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- ===================== -->
	<!-- Definition of Binding -->
	<!-- ===================== -->

	<wsdl:binding name="Support" type="ec:Support">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Encode">
			<soap:operation
				soapAction="http://www.bsi.bund.de/eCard/Encode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Decode">
			<soap:operation
				soapAction="http://www.bsi.bund.de/eCard/Decode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ValidateXMLDocument">
			<soap:operation
				soapAction="http://www.bsi.bund.de/eCard/ValidateXMLDocument" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Definition of Support-Service -->

	<wsdl:service name="Support">
		<wsdl:port name="Support" binding="ec:Support">
			<soap:address location="http://127.0.0.1:18080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
