wsdef/wsdef-client/src/main/wsdl/ISOIFD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="urn:iso:std:iso-iec:24727:tech:schema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:iso="urn:iso:std:iso-iec:24727:tech:schema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- =================== -->
	<!-- Definition of types -->
	<!-- (only include XSDs) -->
	<!-- =================== -->

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="urn:iso:std:iso-iec:24727:tech:schema">
			<xsd:include schemaLocation="ISOIFD.xsd" />
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		</xsd:schema>
	</wsdl:types>

	<!-- ====================== -->
	<!-- Definition of messages -->
	<!-- ====================== -->

	<!-- =============================== -->
	<!-- Card terminal related functions -->
	<!-- (messages)                      -->
	<!-- =============================== -->

	<!-- EstablishContext -->
	<wsdl:message name="EstablishContext">
		<wsdl:part name="parameters" element="iso:EstablishContext" />
	</wsdl:message>
	<wsdl:message name="EstablishContextResponse">
		<wsdl:part name="parameters"
			element="iso:EstablishContextResponse" />
	</wsdl:message>

	<!-- ReleaseContext -->
	<wsdl:message name="ReleaseContext">
		<wsdl:part name="parameters" element="iso:ReleaseContext" />
	</wsdl:message>
	<wsdl:message name="ReleaseContextResponse">
		<wsdl:part name="parameters"
			element="iso:ReleaseContextResponse" />
	</wsdl:message>

	<!-- ListIFDs -->
	<wsdl:message name="ListIFDs">
		<wsdl:part name="parameters" element="iso:ListIFDs" />
	</wsdl:message>
	<wsdl:message name="ListIFDsResponse">
		<wsdl:part name="parameters" element="iso:ListIFDsResponse" />
	</wsdl:message>

	<!-- 	GetIFDCapabilities -->
	<wsdl:message name="GetIFDCapabilities">
		<wsdl:part name="parameters" element="iso:GetIFDCapabilities" />
	</wsdl:message>
	<wsdl:message name="GetIFDCapabilitiesResponse">
		<wsdl:part name="parameters"
			element="iso:GetIFDCapabilitiesResponse" />
	</wsdl:message>


	<!-- GetStatus -->
	<wsdl:message name="GetStatus">
		<wsdl:part name="parameters" element="iso:GetStatus" />
	</wsdl:message>
	<wsdl:message name="GetStatusResponse">
		<wsdl:part name="parameters" element="iso:GetStatusResponse" />
	</wsdl:message>

	<!-- Wait -->
	<wsdl:message name="Wait">
		<wsdl:part name="parameters" element="iso:Wait" />
	</wsdl:message>
	<wsdl:message name="WaitResponse">
		<wsdl:part name="parameters" element="iso:WaitResponse" />
	</wsdl:message>

	<!-- Cancel -->
	<wsdl:message name="Cancel">
		<wsdl:part name="parameters" element="iso:Cancel" />
	</wsdl:message>
	<wsdl:message name="CancelResponse">
		<wsdl:part name="parameters" element="iso:CancelResponse" />
	</wsdl:message>

	<!-- ControlIFD -->
	<wsdl:message name="ControlIFD">
		<wsdl:part name="parameters" element="iso:ControlIFD" />
	</wsdl:message>
	<wsdl:message name="ControlIFDResponse">
		<wsdl:part name="parameters" element="iso:ControlIFDResponse" />
	</wsdl:message>


	<!-- ====================== -->
	<!-- Card related functions -->
	<!-- (messages)             -->
	<!-- ====================== -->

	<!-- Connect -->
	<wsdl:message name="Connect">
		<wsdl:part name="parameters" element="iso:Connect" />
	</wsdl:message>
	<wsdl:message name="ConnectResponse">
		<wsdl:part name="parameters" element="iso:ConnectResponse" />
	</wsdl:message>

	<!-- Disconnect -->
	<wsdl:message name="Disconnect">
		<wsdl:part name="parameters" element="iso:Disconnect" />
	</wsdl:message>
	<wsdl:message name="DisconnectResponse">
		<wsdl:part name="parameters" element="iso:DisconnectResponse" />
	</wsdl:message>

	<!-- BeginTransaction -->
	<wsdl:message name="BeginTransaction">
		<wsdl:part name="BeginTransaction"
			element="iso:BeginTransaction" />
	</wsdl:message>
	<wsdl:message name="BeginTransactionResponse">
		<wsdl:part name="BeginTransactionResponse"
			element="iso:BeginTransactionResponse" />
	</wsdl:message>

	<!-- EndTransaction -->
	<wsdl:message name="EndTransaction">
		<wsdl:part name="parameters" element="iso:EndTransaction" />
	</wsdl:message>
	<wsdl:message name="EndTransactionResponse">
		<wsdl:part name="parameters"
			element="iso:EndTransactionResponse" />
	</wsdl:message>

	<!-- Transmit -->
	<wsdl:message name="Transmit">
		<wsdl:part name="parameters" element="iso:Transmit" />
	</wsdl:message>
	<wsdl:message name="TransmitResponse">
		<wsdl:part name="parameters" element="iso:TransmitResponse" />
	</wsdl:message>


	<!-- ====================== -->
	<!-- User related functions -->
	<!-- (messages)             -->
	<!-- ====================== -->

	<!-- VerifyUser -->
	<wsdl:message name="VerifyUser">
		<wsdl:part name="parameters" element="iso:VerifyUser" />
	</wsdl:message>
	<wsdl:message name="VerifyUserResponse">
		<wsdl:part name="parameters" element="iso:VerifyUserResponse" />
	</wsdl:message>

	<!-- ModifyVerificationData -->
	<wsdl:message name="ModifyVerificationData">
		<wsdl:part name="parameters"
			element="iso:ModifyVerificationData" />
	</wsdl:message>
	<wsdl:message name="ModifyVerificationDataResponse">
		<wsdl:part name="parameters"
			element="iso:ModifyVerificationDataResponse" />
	</wsdl:message>

	<!-- Output -->
	<wsdl:message name="Output">
		<wsdl:part name="parameters" element="iso:Output" />
	</wsdl:message>
	<wsdl:message name="OutputResponse">
		<wsdl:part name="parameters" element="iso:OutputResponse" />
	</wsdl:message>


	<!-- ====================== -->
	<!-- Definition of portType -->
	<!-- ====================== -->

	<wsdl:portType name="IFD">

		<!-- =============================== -->
		<!-- Card terminal related functions -->
		<!-- (portType)                      -->
		<!-- =============================== -->

		<!-- EstablishContext -->
		<wsdl:operation name="EstablishContext">
			<wsdl:input message="iso:EstablishContext" />
			<wsdl:output message="iso:EstablishContextResponse" />
		</wsdl:operation>

		<!-- ReleaseContext -->
		<wsdl:operation name="ReleaseContext">
			<wsdl:input message="iso:ReleaseContext" />
			<wsdl:output message="iso:ReleaseContextResponse" />
		</wsdl:operation>

		<!-- ListIFDs -->
		<wsdl:operation name="ListIFDs">
			<wsdl:input message="iso:ListIFDs" />
			<wsdl:output message="iso:ListIFDsResponse" />
		</wsdl:operation>

		<!-- GetIFDCapabilities -->
		<wsdl:operation name="GetIFDCapabilities">
			<wsdl:input message="iso:GetIFDCapabilities" />
			<wsdl:output message="iso:GetIFDCapabilitiesResponse" />
		</wsdl:operation>


		<!-- GetStatus -->
		<wsdl:operation name="GetStatus">
			<wsdl:input message="iso:GetStatus" />
			<wsdl:output message="iso:GetStatusResponse" />
		</wsdl:operation>

		<!-- Wait -->
		<wsdl:operation name="Wait">
			<wsdl:input message="iso:Wait" />
			<wsdl:output message="iso:WaitResponse" />
		</wsdl:operation>

		<!-- Cancel -->
		<wsdl:operation name="Cancel">
			<wsdl:input message="iso:Cancel" />
			<wsdl:output message="iso:CancelResponse" />
		</wsdl:operation>

		<!-- ControlIFD -->
		<wsdl:operation name="ControlIFD">
			<wsdl:input message="iso:ControlIFD" />
			<wsdl:output message="iso:ControlIFDResponse" />
		</wsdl:operation>

		<!-- ====================== -->
		<!-- Card related functions -->
		<!-- (portType)             -->
		<!-- ====================== -->

		<!-- Connect -->
		<wsdl:operation name="Connect">
			<wsdl:input message="iso:Connect" />
			<wsdl:output message="iso:ConnectResponse" />
		</wsdl:operation>

		<!-- Disconnect -->
		<wsdl:operation name="Disconnect">
			<wsdl:input message="iso:Disconnect" />
			<wsdl:output message="iso:DisconnectResponse" />
		</wsdl:operation>

		<!-- BeginTransaction -->
		<wsdl:operation name="BeginTransaction">
			<wsdl:input message="iso:BeginTransaction" />
			<wsdl:output message="iso:BeginTransactionResponse" />
		</wsdl:operation>

		<!-- EndTransaction -->
		<wsdl:operation name="EndTransaction">
			<wsdl:input message="iso:EndTransaction" />
			<wsdl:output message="iso:EndTransactionResponse" />
		</wsdl:operation>

		<!-- Transmit -->
		<wsdl:operation name="Transmit">
			<wsdl:input message="iso:Transmit" />
			<wsdl:output message="iso:TransmitResponse" />
		</wsdl:operation>

		<!-- ====================== -->
		<!-- User related functions -->
		<!-- (portType)             -->
		<!-- ====================== -->

		<!-- VerifyUser -->
		<wsdl:operation name="VerifyUser">
			<wsdl:input message="iso:VerifyUser" />
			<wsdl:output message="iso:VerifyUserResponse" />
		</wsdl:operation>

		<!-- ModifyVerificationData -->
		<wsdl:operation name="ModifyVerificationData">
			<wsdl:input message="iso:ModifyVerificationData" />
			<wsdl:output message="iso:ModifyVerificationDataResponse" />
		</wsdl:operation>

		<!-- Output -->
		<wsdl:operation name="Output">
			<wsdl:input message="iso:Output" />
			<wsdl:output message="iso:OutputResponse" />
		</wsdl:operation>

	</wsdl:portType>



	<!-- ===================== -->
	<!-- Definition of Binding -->
	<!-- ===================== -->

	<wsdl:binding name="IFD" type="iso:IFD">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />


		<!-- =============================== -->
		<!-- Card terminal related functions -->
		<!-- (binding)                       -->
		<!-- =============================== -->

		<!-- EstablishContext -->
		<wsdl:operation name="EstablishContext">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:EstablishContext" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- ReleaseContext -->
		<wsdl:operation name="ReleaseContext">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:ReleaseContext" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- ListIFDs -->
		<wsdl:operation name="ListIFDs">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:ListIFDs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- GetIFDCapabilities -->
		<wsdl:operation name="GetIFDCapabilities">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:GetIFDCapabilities" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- GetStatus -->
		<wsdl:operation name="GetStatus">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:GetStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- Wait -->
		<wsdl:operation name="Wait">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:Wait" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- Cancel -->
		<wsdl:operation name="Cancel">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:Cancel" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- ControlIFD -->
		<wsdl:operation name="ControlIFD">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:ControlIFD" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- ====================== -->
		<!-- Card related functions -->
		<!-- (binding)              -->
		<!-- ====================== -->

		<!-- Connect -->
		<wsdl:operation name="Connect">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:Connect" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- Disconnect -->
		<wsdl:operation name="Disconnect">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:Disconnect" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- BeginTransaction -->
		<wsdl:operation name="BeginTransaction">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:BeginTransaction" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- EndTransaction -->
		<wsdl:operation name="EndTransaction">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:EndTransaction" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- Transmit -->
		<wsdl:operation name="Transmit">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:Transmit" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- ====================== -->
		<!-- User related functions -->
		<!-- (binding)              -->
		<!-- ====================== -->

		<!-- VerifyUser -->
		<wsdl:operation name="VerifyUser">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:VerifyUser" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- ModifyVerificationData -->
		<wsdl:operation name="ModifyVerificationData">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:ModifyVerificationData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- Output -->
		<wsdl:operation name="Output">
			<soap:operation
				soapAction="urn:iso:std:iso-iec:24727:tech:schema:Output" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>


	<!-- Definition of IFD-Service -->

	<wsdl:service name="IFD">
		<wsdl:port name="IFDPort" binding="iso:IFD">
			<soap:address location="http://127.0.0.1:18080" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
