wsdef/wsdef-client/src/main/wsdl/Management.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.bsi.bund.de/ecard/api/1.1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ec="http://www.bsi.bund.de/ecard/api/1.1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- =================== -->
	<!-- Definition of types -->
	<!-- (only include XSDs) -->
	<!-- =================== -->

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.bsi.bund.de/ecard/api/1.1">
			<xsd:include schemaLocation="Management.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- ====================== -->
	<!-- Definition of messages -->
	<!-- ====================== -->

	<!-- Initialize -->
	<wsdl:message name="InitializeFramework">
		<wsdl:part name="parameters" element="ec:InitializeFramework" />
	</wsdl:message>
	<wsdl:message name="InitializeFrameworkResponse">
		<wsdl:part name="parameters"
			element="ec:InitializeFrameworkResponse" />
	</wsdl:message>

	<!-- Terminate -->
	<wsdl:message name="TerminateFramework">
		<wsdl:part name="parameters" element="ec:TerminateFramework" />
	</wsdl:message>
	<wsdl:message name="TerminateFrameworkResponse">
		<wsdl:part name="parameters"
			element="ec:TerminateFrameworkResponse" />
	</wsdl:message>

	<!-- APIACLList -->
	<wsdl:message name="APIACLList">
		<wsdl:part name="parameters" element="ec:APIACLList" />
	</wsdl:message>
	<wsdl:message name="APIACLListResponse">
		<wsdl:part name="parameters" element="ec:APIACLListResponse" />
	</wsdl:message>

	<!-- APIACLAccessRuleModify -->
	<wsdl:message name="APIACLModify">
		<wsdl:part name="parameters" element="ec:APIACLModify" />
	</wsdl:message>
	<wsdl:message name="APIACLModifyResponse">
		<wsdl:part name="parameters" element="ec:APIACLModifyResponse" />
	</wsdl:message>

	<!-- FrameworkUpdate -->
	<wsdl:message name="FrameworkUpdate">
		<wsdl:part name="parameters" element="ec:FrameworkUpdate" />
	</wsdl:message>
	<wsdl:message name="FrameworkUpdateResponse">
		<wsdl:part name="parameters"
			element="ec:FrameworkUpdateResponse" />
	</wsdl:message>

	<!-- GetDefaultParameters -->
	<wsdl:message name="GetDefaultParameters">
		<wsdl:part name="parameters" element="ec:GetDefaultParameters" />
	</wsdl:message>
	<wsdl:message name="GetDefaultParametersResponse">
		<wsdl:part name="parameters"
			element="ec:GetDefaultParametersResponse" />
	</wsdl:message>

	<!-- SetDefaultParameters -->
	<wsdl:message name="SetDefaultParameters">
		<wsdl:part name="parameters" element="ec:SetDefaultParameters" />
	</wsdl:message>
	<wsdl:message name="SetDefaultParametersResponse">
		<wsdl:part name="parameters"
			element="ec:SetDefaultParametersResponse" />
	</wsdl:message>

	<!-- GetCardInfoList -->
	<wsdl:message name="GetCardInfoList">
		<wsdl:part name="parameters" element="ec:GetCardInfoList" />
	</wsdl:message>
	<wsdl:message name="GetCardInfoListResponse">
		<wsdl:part name="parameters"
			element="ec:GetCardInfoListResponse" />
	</wsdl:message>

	<!-- SetCardInfoList -->
	<wsdl:message name="SetCardInfoList">
		<wsdl:part name="parameters" element="ec:SetCardInfoList" />
	</wsdl:message>
	<wsdl:message name="SetCardInfoListResponse">
		<wsdl:part name="parameters"
			element="ec:SetCardInfoListResponse" />
	</wsdl:message>

	<!-- AddCardInfoFiles -->
	<wsdl:message name="AddCardInfoFiles">
		<wsdl:part name="parameters" element="ec:AddCardInfoFiles" />
	</wsdl:message>
	<wsdl:message name="AddCardInfoFilesResponse">
		<wsdl:part name="parameters"
			element="ec:AddCardInfoFilesResponse" />
	</wsdl:message>

	<!-- DeleteCardInfoFiles -->
	<wsdl:message name="DeleteCardInfoFiles">
		<wsdl:part name="parameters" element="ec:DeleteCardInfoFiles" />
	</wsdl:message>
	<wsdl:message name="DeleteCardInfoFilesResponse">
		<wsdl:part name="parameters"
			element="ec:DeleteCardInfoFilesResponse" />
	</wsdl:message>

	<!-- RegisterIFD -->
	<wsdl:message name="RegisterIFD">
		<wsdl:part name="parameters" element="ec:RegisterIFD" />
	</wsdl:message>
	<wsdl:message name="RegisterIFDResponse">
		<wsdl:part name="parameters" element="ec:RegisterIFDResponse" />
	</wsdl:message>

	<!-- UnregisterIFD -->
	<wsdl:message name="UnregisterIFD">
		<wsdl:part name="parameters" element="ec:UnregisterIFD" />
	</wsdl:message>
	<wsdl:message name="UnregisterIFDResponse">
		<wsdl:part name="parameters" element="ec:UnregisterIFDResponse" />
	</wsdl:message>

	<!-- GetTrustedViewerList -->
	<wsdl:message name="GetTrustedViewerList">
		<wsdl:part name="parameters" element="ec:GetTrustedViewerList" />
	</wsdl:message>
	<wsdl:message name="GetTrustedViewerListResponse">
		<wsdl:part name="parameters"
			element="ec:GetTrustedViewerListResponse" />
	</wsdl:message>

	<!-- GetTrustedViewerConfiguration -->
	<wsdl:message name="GetTrustedViewerConfiguration">
		<wsdl:part name="parameters"
			element="ec:GetTrustedViewerConfiguration" />
	</wsdl:message>
	<wsdl:message name="GetTrustedViewerConfigurationResponse">
		<wsdl:part name="parameters"
			element="ec:GetTrustedViewerConfigurationResponse" />
	</wsdl:message>

	<!-- SetTrustedViewerConfiguration -->
	<wsdl:message name="SetTrustedViewerConfiguration">
		<wsdl:part name="parameters"
			element="ec:SetTrustedViewerConfiguration" />
	</wsdl:message>
	<wsdl:message name="SetTrustedViewerConfigurationResponse">
		<wsdl:part name="parameters"
			element="ec:SetTrustedViewerConfigurationResponse" />
	</wsdl:message>

	<!-- AddTrustedViewer -->
	<wsdl:message name="AddTrustedViewer">
		<wsdl:part name="parameters" element="ec:AddTrustedViewer" />
	</wsdl:message>
	<wsdl:message name="AddTrustedViewerResponse">
		<wsdl:part name="parameters"
			element="ec:AddTrustedViewerResponse" />
	</wsdl:message>

	<!-- DeleteTrustedViewer -->
	<wsdl:message name="DeleteTrustedViewer">
		<wsdl:part name="parameters" element="ec:DeleteTrustedViewer" />
	</wsdl:message>
	<wsdl:message name="DeleteTrustedViewerResponse">
		<wsdl:part name="parameters"
			element="ec:DeleteTrustedViewerResponse" />
	</wsdl:message>

	<!-- GetTrustedIdentities -->
	<wsdl:message name="GetTrustedIdentities">
		<wsdl:part name="parameters" element="ec:GetTrustedIdentities" />
	</wsdl:message>
	<wsdl:message name="GetTrustedIdentitiesResponse">
		<wsdl:part name="parameters"
			element="ec:GetTrustedIdentitiesResponse" />
	</wsdl:message>

	<!-- AddTrustedCertificate -->
	<wsdl:message name="AddTrustedCertificate">
		<wsdl:part name="parameters" element="ec:AddTrustedCertificate" />
	</wsdl:message>
	<wsdl:message name="AddTrustedCertificateResponse">
		<wsdl:part name="parameters"
			element="ec:AddTrustedCertificateResponse" />
	</wsdl:message>

	<!-- AddCertificate -->
	<wsdl:message name="AddCertificate">
		<wsdl:part name="parameters" element="ec:AddCertificate" />
	</wsdl:message>
	<wsdl:message name="AddCertificateResponse">
		<wsdl:part name="parameters"
			element="ec:AddCertificateResponse" />
	</wsdl:message>

	<!-- DeleteCertificate -->
	<wsdl:message name="DeleteCertificate">
		<wsdl:part name="parameters" element="ec:DeleteCertificate" />
	</wsdl:message>
	<wsdl:message name="DeleteCertificateResponse">
		<wsdl:part name="parameters"
			element="ec:DeleteCertificateResponse" />
	</wsdl:message>

	<!-- AddTSL -->
	<wsdl:message name="AddTSL">
		<wsdl:part name="parameters" element="ec:AddTSL" />
	</wsdl:message>
	<wsdl:message name="AddTSLResponse">
		<wsdl:part name="parameters" element="ec:AddTSLResponse" />
	</wsdl:message>

	<!-- DeleteTSL -->
	<wsdl:message name="DeleteTSL">
		<wsdl:part name="parameters" element="ec:DeleteTSL" />
	</wsdl:message>
	<wsdl:message name="DeleteTSLResponse">
		<wsdl:part name="parameters" element="ec:DeleteTSLResponse" />
	</wsdl:message>

	<!-- ExportTSL -->
	<wsdl:message name="ExportTSL">
		<wsdl:part name="parameters" element="ec:ExportTSL" />
	</wsdl:message>
	<wsdl:message name="ExportTSLResponse">
		<wsdl:part name="parameters" element="ec:ExportTSLResponse" />
	</wsdl:message>

	<!-- ExportCertificate -->
	<wsdl:message name="ExportCertificate">
		<wsdl:part name="parameters" element="ec:ExportCertificate" />
	</wsdl:message>
	<wsdl:message name="ExportCertificateResponse">
		<wsdl:part name="parameters"
			element="ec:ExportCertificateResponse" />
	</wsdl:message>

	<!-- GetOCSPServices -->
	<wsdl:message name="GetOCSPServices">
		<wsdl:part name="parameters" element="ec:GetOCSPServices" />
	</wsdl:message>
	<wsdl:message name="GetOCSPServicesResponse">
		<wsdl:part name="parameters"
			element="ec:GetOCSPServicesResponse" />
	</wsdl:message>

	<!-- SetOCSPService -->
	<wsdl:message name="SetOCSPServices">
		<wsdl:part name="parameters" element="ec:SetOCSPServices" />
	</wsdl:message>
	<wsdl:message name="SetOCSPServicesResponse">
		<wsdl:part name="parameters"
			element="ec:SetOCSPServicesResponse" />
	</wsdl:message>

	<!-- GetDirectoryServices -->
	<wsdl:message name="GetDirectoryServices">
		<wsdl:part name="parameters" element="ec:GetDirectoryServices" />
	</wsdl:message>
	<wsdl:message name="GetDirectoryServicesResponse">
		<wsdl:part name="parameters"
			element="ec:GetDirectoryServicesResponse" />
	</wsdl:message>

	<!-- SetDirectoryService -->
	<wsdl:message name="SetDirectoryServices">
		<wsdl:part name="parameters" element="ec:SetDirectoryServices" />
	</wsdl:message>
	<wsdl:message name="SetDirectoryServicesResponse">
		<wsdl:part name="parameters"
			element="ec:SetDirectoryServicesResponse" />
	</wsdl:message>

	<!-- GetTSServices -->
	<wsdl:message name="GetTSServices">
		<wsdl:part name="parameters" element="ec:GetTSServices" />
	</wsdl:message>
	<wsdl:message name="GetTSServicesResponse">
		<wsdl:part name="parameters" element="ec:GetTSServicesResponse" />
	</wsdl:message>

	<!-- SetTSServices -->
	<wsdl:message name="SetTSServices">
		<wsdl:part name="parameters" element="ec:SetTSServices" />
	</wsdl:message>
	<wsdl:message name="SetTSServicesResponse">
		<wsdl:part name="parameters" element="ec:SetTSServicesResponse" />
	</wsdl:message>


	<!-- ====================== -->
	<!-- Definition of portType -->
	<!-- ====================== -->

	<wsdl:portType name="Management">

		<!-- InitializeFramework -->
		<wsdl:operation name="InitializeFramework">
			<wsdl:input message="ec:InitializeFramework" />
			<wsdl:output message="ec:InitializeFrameworkResponse" />
		</wsdl:operation>

		<!-- TerminateFramework -->
		<wsdl:operation name="TerminateFramework">
			<wsdl:input message="ec:TerminateFramework" />
			<wsdl:output message="ec:TerminateFrameworkResponse" />
		</wsdl:operation>

		<!-- APIACLList -->
		<wsdl:operation name="APIACLList">
			<wsdl:input message="ec:APIACLList" />
			<wsdl:output message="ec:APIACLListResponse" />
		</wsdl:operation>

		<!-- APIACLModify -->
		<wsdl:operation name="APIACLModify">
			<wsdl:input message="ec:APIACLModify" />
			<wsdl:output message="ec:APIACLModifyResponse" />
		</wsdl:operation>

		<!-- FrameworkUpdate -->
		<wsdl:operation name="FrameworkUpdate">
			<wsdl:input message="ec:FrameworkUpdate" />
			<wsdl:output message="ec:FrameworkUpdateResponse" />
		</wsdl:operation>

		<!-- GetDefaultParameters -->
		<wsdl:operation name="GetDefaultParameters">
			<wsdl:input message="ec:GetDefaultParameters" />
			<wsdl:output message="ec:GetDefaultParametersResponse" />
		</wsdl:operation>

		<!-- SetDefaultParameters -->
		<wsdl:operation name="SetDefaultParameters">
			<wsdl:input message="ec:SetDefaultParameters" />
			<wsdl:output message="ec:SetDefaultParametersResponse" />
		</wsdl:operation>

		<!-- GetCardInfoList -->
		<wsdl:operation name="GetCardInfoList">
			<wsdl:input message="ec:GetCardInfoList" />
			<wsdl:output message="ec:GetCardInfoListResponse" />
		</wsdl:operation>

		<!-- SetCardInfoList -->
		<wsdl:operation name="SetCardInfoList">
			<wsdl:input message="ec:SetCardInfoList" />
			<wsdl:output message="ec:SetCardInfoListResponse" />
		</wsdl:operation>

		<!-- AddCardInfoFiles -->
		<wsdl:operation name="AddCardInfoFiles">
			<wsdl:input message="ec:AddCardInfoFiles" />
			<wsdl:output message="ec:AddCardInfoFilesResponse" />
		</wsdl:operation>

		<!-- DeleteCardInfoFiles -->
		<wsdl:operation name="DeleteCardInfoFiles">
			<wsdl:input message="ec:DeleteCardInfoFiles" />
			<wsdl:output message="ec:DeleteCardInfoFilesResponse" />
		</wsdl:operation>

		<!-- RegisterIFD -->
		<wsdl:operation name="RegisterIFD">
			<wsdl:input message="ec:RegisterIFD" />
			<wsdl:output message="ec:RegisterIFDResponse" />
		</wsdl:operation>

		<!-- UnregisterIFD -->
		<wsdl:operation name="UnregisterIFD">
			<wsdl:input message="ec:UnregisterIFD" />
			<wsdl:output message="ec:UnregisterIFDResponse" />
		</wsdl:operation>

		<!-- GetTrustedViewerList -->
		<wsdl:operation name="GetTrustedViewerList">
			<wsdl:input message="ec:GetTrustedViewerList" />
			<wsdl:output message="ec:GetTrustedViewerListResponse" />
		</wsdl:operation>

		<!-- GetTrustedViewerConfiguration -->
		<wsdl:operation name="GetTrustedViewerConfiguration">
			<wsdl:input message="ec:GetTrustedViewerConfiguration" />
			<wsdl:output
				message="ec:GetTrustedViewerConfigurationResponse" />
		</wsdl:operation>

		<!-- SetTrustedViewerConfiguration -->
		<wsdl:operation name="SetTrustedViewerConfiguration">
			<wsdl:input message="ec:SetTrustedViewerConfiguration" />
			<wsdl:output
				message="ec:SetTrustedViewerConfigurationResponse" />
		</wsdl:operation>

		<!-- AddTrustedViewer -->
		<wsdl:operation name="AddTrustedViewer">
			<wsdl:input message="ec:AddTrustedViewer" />
			<wsdl:output message="ec:AddTrustedViewerResponse" />
		</wsdl:operation>

		<!-- DeleteTrustedViewer -->
		<wsdl:operation name="DeleteTrustedViewer">
			<wsdl:input message="ec:DeleteTrustedViewer" />
			<wsdl:output message="ec:DeleteTrustedViewerResponse" />
		</wsdl:operation>

		<!-- GetTrustedIdentities -->
		<wsdl:operation name="GetTrustedIdentities">
			<wsdl:input message="ec:GetTrustedIdentities" />
			<wsdl:output message="ec:GetTrustedIdentitiesResponse" />
		</wsdl:operation>

		<!-- AddTrustedCertificate -->
		<wsdl:operation name="AddTrustedCertificate">
			<wsdl:input message="ec:AddTrustedCertificate" />
			<wsdl:output message="ec:AddTrustedCertificateResponse" />
		</wsdl:operation>

		<!-- AddCertificate -->
		<wsdl:operation name="AddCertificate">
			<wsdl:input message="ec:AddCertificate" />
			<wsdl:output message="ec:AddCertificateResponse" />
		</wsdl:operation>


		<!-- DeleteCertificate -->
		<wsdl:operation name="DeleteCertificate">
			<wsdl:input message="ec:DeleteCertificate" />
			<wsdl:output message="ec:DeleteCertificateResponse" />
		</wsdl:operation>

		<!-- AddTSL -->
		<wsdl:operation name="AddTSL">
			<wsdl:input message="ec:AddTSL" />
			<wsdl:output message="ec:AddTSLResponse" />
		</wsdl:operation>

		<!-- DeleteTSL -->
		<wsdl:operation name="DeleteTSL">
			<wsdl:input message="ec:DeleteTSL" />
			<wsdl:output message="ec:DeleteTSLResponse" />
		</wsdl:operation>

		<!-- ExportTSL -->
		<wsdl:operation name="ExportTSL">
			<wsdl:input message="ec:ExportTSL" />
			<wsdl:output message="ec:ExportTSLResponse" />
		</wsdl:operation>

		<!-- ExportCertificate -->
		<wsdl:operation name="ExportCertificate">
			<wsdl:input message="ec:ExportCertificate" />
			<wsdl:output message="ec:ExportCertificateResponse" />
		</wsdl:operation>

		<!-- GetOCSPServices -->
		<wsdl:operation name="GetOCSPServices">
			<wsdl:input message="ec:GetOCSPServices" />
			<wsdl:output message="ec:GetOCSPServicesResponse" />
		</wsdl:operation>

		<!-- SetOCSPServices -->
		<wsdl:operation name="SetOCSPServices">
			<wsdl:input message="ec:SetOCSPServices" />
			<wsdl:output message="ec:SetOCSPServicesResponse" />
		</wsdl:operation>

		<!-- GetDirectoryServices -->
		<wsdl:operation name="GetDirectoryServices">
			<wsdl:input message="ec:GetDirectoryServices" />
			<wsdl:output message="ec:GetDirectoryServicesResponse" />
		</wsdl:operation>

		<!-- SetDirectoryService -->
		<wsdl:operation name="SetDirectoryServices">
			<wsdl:input message="ec:SetDirectoryServices" />
			<wsdl:output message="ec:SetDirectoryServicesResponse" />
		</wsdl:operation>

		<!-- GetTSServices -->
		<wsdl:operation name="GetTSServices">
			<wsdl:input message="ec:GetTSServices" />
			<wsdl:output message="ec:GetTSServicesResponse" />
		</wsdl:operation>

		<!-- SetTSServices -->
		<wsdl:operation name="SetTSServices">
			<wsdl:input message="ec:SetTSServices" />
			<wsdl:output message="ec:SetTSServicesResponse" />
		</wsdl:operation>


	</wsdl:portType>



	<!-- ===================== -->
	<!-- Definition of Binding -->
	<!-- ===================== -->

	<wsdl:binding name="Management" type="ec:Management">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />


		<!-- InitializeFramework -->
		<wsdl:operation name="InitializeFramework">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#InitializeFramework" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- TerminateFramework -->
		<wsdl:operation name="TerminateFramework">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#TerminateFramework" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- APIACLList -->
		<wsdl:operation name="APIACLList">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#APIACLList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- APIACLModify -->
		<wsdl:operation name="APIACLModify">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#APIACLModify" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- FrameworkUpdate -->
		<wsdl:operation name="FrameworkUpdate">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#FrameworkUpdate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- GetDefaultParameters -->
		<wsdl:operation name="GetDefaultParameters">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#GetDefaultParameters" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- SetDefaultParameters -->
		<wsdl:operation name="SetDefaultParameters">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#SetDefaultParameters" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- GetCardInfoList -->
		<wsdl:operation name="GetCardInfoList">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#GetCardInfoList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- SetCardInfoList -->
		<wsdl:operation name="SetCardInfoList">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#SetCardInfoList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- AddCardInfoFiles -->
		<wsdl:operation name="AddCardInfoFiles">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#AddCardInfoFiles" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- DeleteCardInfoFiles -->
		<wsdl:operation name="DeleteCardInfoFiles">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#DeleteCardInfoFiles" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- RegisterIFD -->
		<wsdl:operation name="RegisterIFD">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#RegisterIFD" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- UnregisterIFD -->
		<wsdl:operation name="UnregisterIFD">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#UnregisterIFD" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- GetTrustedViewerList -->
		<wsdl:operation name="GetTrustedViewerList">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#GetTrustedViewerList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- GetTrustedViewerConfiguration -->
		<wsdl:operation name="GetTrustedViewerConfiguration">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#GetTrustedViewerConfiguration" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- SetTrustedViewerConfiguration -->
		<wsdl:operation name="SetTrustedViewerConfiguration">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#SetTrustedViewerConfiguration" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- AddTrustedViewer -->
		<wsdl:operation name="AddTrustedViewer">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#AddTrustedViewer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- DeleteTrustedViewer -->
		<wsdl:operation name="DeleteTrustedViewer">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#DeleteTrustedViewer" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- GetTrustedIdentities -->
		<wsdl:operation name="GetTrustedIdentities">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#GetTrustedIdentities" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- AddTrustedCertificate -->
		<wsdl:operation name="AddTrustedCertificate">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#AddTrustedCertificate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>



		<!-- AddCertificate -->
		<wsdl:operation name="AddCertificate">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#AddCertificate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- DeleteCertificate -->
		<wsdl:operation name="DeleteCertificate">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#DeleteCertificate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- AddTSL -->
		<wsdl:operation name="AddTSL">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#AddTSL" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- DeleteTSL -->
		<wsdl:operation name="DeleteTSL">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#DeleteTSL" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<!-- ExportTSL -->
		<wsdl:operation name="ExportTSL">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#ExportTSL" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- ExportCertificate -->
		<wsdl:operation name="ExportCertificate">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#ExportCertificate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- GetOCSPServices -->
		<wsdl:operation name="GetOCSPServices">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#GetOCSPServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- SetOCSPService -->
		<wsdl:operation name="SetOCSPServices">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#SetOCSPServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- GetDirectoryServices -->
		<wsdl:operation name="GetDirectoryServices">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#GetDirectoryServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- SetDirectoryServices -->
		<wsdl:operation name="SetDirectoryServices">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#SetDirectoryServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- GetTSServices -->
		<wsdl:operation name="GetTSServices">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#GetTSServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<!-- SetTSServices -->
		<wsdl:operation name="SetTSServices">
			<soap:operation
				soapAction="http://www.bsi.bund.de/ecard/api/1.0#SetTSServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


	</wsdl:binding>


	<!-- Definition of Management-Service -->

	<wsdl:service name="Management">
		<wsdl:port name="ManagementPort" binding="ec:Management">
			<soap:address location="http://127.0.0.1:24727" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
