wsdef/wsdef-client/src/main/wsdl/StatusChangeType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:iso="urn:iso:std:iso-iec:24727:tech:schema"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<!-- StatusChange -->

	<xs:complexType name="StatusChangeType">
		<xs:sequence>
			<xs:element name="ConnectionHandle" type="iso:ConnectionHandleType"
				maxOccurs="1" minOccurs="1" />
			<xs:element name="Action" type="xs:anyURI" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="StatusChangeType" type="StatusChangeType" />

</xs:schema>
